{% extends "base.html" %}
{% block css %}contacts{% endblock %}
{% block title %}Contacts{% endblock %}
{% block content %}
    <br/>
    <br/>
    <br/>
<div class="row">
    <h3>Contacts</h3>
</div>

<div id="contact-list">
    <div class="row">
        <a class="add-contact" href="contacts/new">Add new</a>
    </div>

    <div class="row">
        {% if show_search %}
         <input type="text" class="form-control" id="searchInput" placeholder="filter">
        {% endif %}
    </div>


    <div class="row">
        <table class="table table-hover">
            <tbody id="contacts_table">

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div id="view-container">
    </div>
</div>

{% endblock %}

{% block initScript %}
 <script>
     var contactList = new ContactList();
    {% for contact in contacts%}
        contactList.create({unique_id: "{{contact.unique_id}}", name:"{{contact.name}}", email:"{{contact.email}}", phone:"{{contact.phone}}"});
    {% endfor %}
</script>
{% endblock %}