{% extends "base.html" %}
{% block css %}contacts{% endblock %}
{% block title %}Contacts{% endblock %}
{% block content %}

<div id="new-contact-container"></div>

<div id="contact-list">
    <div class="row no-margin contacts-header">
        <h3>Contacts</h3>
        <a class="btn btn-success add-contact pull-right" href="contacts/new">New Contact</a>
        <!--<a class="btn add-group pull-right" href="#">New Group</a>-->
    </div>

    <div class="row small-margin-top no-margin contacts-table-container">
        <div id="contacts_table" class="small-margin-top"></div>
    </div>

    <div class="row small-margin-top no-margin">

    </div>
</div>



{% endblock %}

{% block initScript %}
 <script>

    var groupList = new GroupList();
    {% for group in contact_groups['groups']%}
        groupList.create({unique_id: "{{group.unique_id}}", name:"{{group.name}}", contacts: new ContactList()});
    {% endfor %}

    var contactList = new ContactList();
    {% for contact in contact_groups['contacts']%}

        var xcontact = new Contact({
            unique_id: "{{contact.unique_id}}",
            name:"{{contact.name}}",
            email:"{{contact.email}}",
            phone:"{{contact.phone}}",
            groups: [
                {% for groupId in contact['groups']%}
                    '{{groupId}}',
                {% endfor%}
            ]
        });

        xcontact.get('groups').forEach(function(item){
            var group = groupList.getById(item);

            if(group != null && group.length >0){
                group[0].get('contacts').add(xcontact);
            }

        });

        contactList.add(xcontact);
    {% endfor %}

    console.log(groupList);
</script>
{% endblock %}