<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Invite - Demo</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/custom-font.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,200,400" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top"><i class="fa fa-paper-plane fa-1x small-margin"></i>iMeet</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        {% if username %}
                            <div class="dropdown  pull-right">
                              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                {{email}}
                                <span class="small-margin caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="navigate" data-action="modal" data-where="search">Search iMeet</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="navigate" data-action="modal" data-where="profile/edit">Edit Profile</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logout</a></li>
                              </ul>
                            </div>
                        {%else %}
                            <a href="#login" class="navigate" data-action="modal" data-where="login">Login</a>
                        {% endif %}
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div id="body-container"></div>

    <script type="text/template" id="body-template">
        <section class="section header-section">
            <div class="header-container">
                <div class="row">
                    <div class="col-lg-12">
                            <div class="row event-name-home">
                                <input type="text" class="invite-title-input" placeholder="Event Name...">
                                <button class="imeet-btn" data-action="modal" data-where="new"><span>Create</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                            <strong style="font-size: 20px">Notify your attendees via</strong><br/>
                        <div class="col-lg-12" >
                            <br/>
                            SMS <i class="fa fa-star fa-1x"></i> PhoneCall <i class="fa fa-star fa-1x"></i> Email
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section body-section">
            <div class="row medium-margin-top">
            </div>
            <div class="section-container">
                <div class="row">
                    <div class="col-sm-4 section-item">
                        <div class="caption">
                            <a style="cursor: pointer" class="portfolio-link navigate" data-action="modal" data-where="new">
                                <i class="fa fa-group fa-5x">
                                    <div class="caption-content">Create Event</div>
                                </i>

                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 section-item">
                        <div class="caption">
                            <a style="cursor: pointer" class="portfolio-link navigate"  data-action="modal" data-where="search">
                                <i class="fa fa-mail fa-5x">
                                    <div class="caption-content">Send it</div>
                                </i>

                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 section-item">
                        <div class="caption">
                            <a style="cursor: pointer" class="portfolio-link navigate"  data-action="modal" data-where="register">
                                <i class="fa fa-happy-face fa-5x"></i>
                                <i class="fa fa-happy-face fa-5x"></i>
                                <i class="fa fa-happy-face fa-5x">
                                    <div class="caption-content">Meet!</div>
                                </i>

                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-container" id="about">
                <div class="row medium-margin-top"></div>
                <div class="row horizontal-divider"></div>
                <div class="row about">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3 section-item">
                        <div class="caption">
                            iMeet is a way to organize your events. <br/> Never miss a party!<br/> Notify your friends through every possible way<br/> SMS, email, Phone. Read their RSVP's, keep track of your events. Communicate, be known!
                        </div>
                    </div>
                    <div class="col-sm-2 section-item">
                        <div class="divider-line nav-color-bg"></div>
                    </div>
                    <div class="col-sm-3 section-item">
                        <div class="caption">
                            Enhance your capabilities of reaching to people, while also obtain better reporting on bidirectional communication with your attendees.
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row medium-margin-top"></div>
            </div>
            <!-- Footer -->
            <div class="section-container footer">
                <div class="footer-below">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                Miami, FL<br/>
                                Copyright &copy; iMeet 2014
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </script>

    <script type="text/template" id="login">
      <div class="modal-content medium-modal">
          <form id="loginForm" action="/login" method="post">
              <div class="close-modal" data-action="dismiss">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row controls">
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4">
                            <div class="row">
                                {% if messages|safe %}
                                    {% for message in messages %}
                                    <div class="alert alert-{{ message[1]|safe }}">
                                        <a class="close" data-dismiss="alert">x</a>
                                        {{ message[0]|safe }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                          <h4>Login</h4>
                          <fieldset>
                              <div class="row">
                                  <div class="col-sm-1"></div>
                                  <div class="col-sm-10">
                                      <input id="username" name="username" required type="text" class="form-control small-margin" placeholder="Username">
                                      <input id="password" name="password" required type="password" class="form-control small-margin" placeholder="Password">
                                  </div>
                                  <div class="col-sm-1"></div>

                              </div>
                              <div class="row">
                                  <div class="col-sm-1"></div>
                                  <div class="col-sm-10">
                                      <label class="remember pull-right" style="padding: 10px">
                                        Remember me?
                                        <input type="checkbox" name="remember_me" id="remember_me" value="on">
                                      </label>
                                  </div>
                                  <div class="col-sm-1"></div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-1"></div>
                                  <div class="col-sm-10"><button type="submit" class="btn btn-success form-control pull-right">Login</button></div>
                                  <div class="col-sm-1"></div>
                              </div>

                              <div class="row" style="margin-top: 20px">
                                  <div class="col-sm-1"></div>
                                  <div class="col-sm-10">
                                      <div id="third_party_login">
                                          <ul class="social-login-icons">
                                              <li style="width: auto">

                                              </li>
                                              <li>
                                                  <a href="/social_login/google">
                                                      <i class="fa fa-google fa-2x"></i>
                                                  </a>
                                              </li>
                                              <li>

                                                  <a href="/social_login/facebook">
                                                      <i class="fa fa-facebook fa-2x"></i>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="/social_login/twitter">
                                                      <i class="fa fa-twitter fa-2x"></i>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="/social_login/linkedin">
                                                      <i class="fa fa-linkedin fa-2x"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-sm-1"></div>
                              </div>

                              <div class="row" style="margin-top: 20px">
                                  <div class="col-sm-1"></div>
                                  <div class="col-sm-10">
                                      <label class="remember pull-right">
                                          <a href='/password-forgot'>Forgot your password?</a>
                                      </label>
                                  </div>
                                  <div class="col-sm-1"></div>
                              </div>

                              <div class="row">
                                  <div class="col-sm-1"></div>
                                  <div class="col-sm-10">
                                      <label class="remember pull-right">
                                          Don't have an account?
                                          <a href="/register" class="">Sign Up</a>
                                      </label>
                                  </div>
                                  <div class="col-sm-1"></div>
                              </div>
                          </fieldset>
                      </div>
                      <div class="col-sm-4"></div>
                  </div>
              </div>
          </form>
      </div>

    </script>

    <div id="modal_container" class="portfolio-modal modal fade contacts-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

    <!-- jQuery Version 1.11.0 -->
    <script src="/js/underscore.min.js"></script>
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/backbone.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.min.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <script src="/js/templates.js"></script>

    <script src="/js/views.js"></script>

    <script src="/js/app.js"></script>



    <!-- Contact Form JavaScript -->
    <script src="/js/contact_me.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.min.js"></script>

    <script src="/js/jquery.validate.min.js"></script>

    <script>

        var currentUser =
        {% if username %}
        {
          id: '{{user_id}}',
        };
        {%else %}
            null;
        {%endif %}
    </script>

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55798503-1', 'auto');
          ga('send', 'pageview');

</script>

</body>

</html>
