<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Organize your Events, notify your attendees, via Sms, Email, Phone Call, track their responses">
    <meta name="keywords" content="Imeet, meetings, events, social,
        gathering, isolation, isolate, reunion, rendezvous, rsvp, contact, friends, notify, sms, email, phone, call, ivr,
        organize, calendar, create, help, automate, report
    ">
    <meta name="author" content="Imeet">

    <title>iMeet - Create Events</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/css/imeet.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/custom-font.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,200,400" rel="stylesheet" type="text/css">

    <script src="/js/external.min.js"></script>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <div class="beta">BETA</div>
                    <i class="fa fa-paper-plane fa-1x small-margin"></i>iMeet
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                      {% if username %}
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{email}} <span class="caret"></span></a>
                          <ul class="dropdown-menu " role="menu">
                            <li><a role="menuitem" tabindex="-1" href="#" class="end-click navigate" data-action="modal" data-where="search">Search iMeet</a></li>
                            <li><a role="menuitem" tabindex="-1" href="#" class="end-click navigate" data-action="modal" data-where="profile/edit">Edit Profile</a></li>
                            <li class="divider"></li>
                            <li><a role="menuitem" class="end-click" tabindex="-1" href="/logout">Logout</a></li>
                          </ul>
                      {%else %}
                            <a href="#login" class="end-click navigate" data-action="modal" data-where="login">Login</a>
                      {% endif %}
                    </li>
                    <li>
                        <a href="#about" class="end-click">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div id="body-container" class="view-container snapPanel">
        <section class="section header-section">
            <div class="header-container">
                <div class="row">
                    <div class="col-lg-12">
                            <div class="row event-name-home">
                                <input type="text" class="invite-title-input" placeholder="Event Name...">
                                <button class="imeet-btn" data-action="modal" data-where="new">Create</button>
                            </div>
                    </div>
                    <div class="row">
                        <br/>
                            <strong style="font-size: 20px">Notify by</strong><br/>
                        <div class="col-lg-12" >
                            <br/>
                            Email <i class="fa fa-star fa-1x"></i> Sms <i class="fa fa-star fa-1x"></i> Phone Call
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section body-section">
            <div class="row small-margin-top">
            </div>
            <div class="section-container" id="marketing">
                <div class="row">
                    <div class="col-sm-4 section-item">
                        <div class="caption">
                            <a style="cursor: pointer" class="portfolio-link" data-action="modal" data-where="new">
                                <i class="fa fa-group fa-5x">
                                    <div class="caption-content">Create Event</div>
                                </i>

                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 section-item">
                        <div class="caption">
                            <a style="cursor: pointer" class="portfolio-link">
                                <i class="fa fa-mail fa-5x">
                                    <div class="caption-content">Send it</div>
                                </i>

                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 section-item">
                        <div class="caption">
                            <a style="cursor: pointer" class="portfolio-link navigate"  data-action="modal" data-where="register">
                                <i class="fa fa-happy-face fa-5x"></i>
                                <i class="fa fa-happy-face fa-5x"></i>
                                <i class="fa fa-happy-face fa-5x">
                                    <div class="caption-content">Meet!</div>
                                </i>

                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-container row" id="about">
              <div class="container">
              <div class="row">
                <div class="col-md-4 col-md-offset-1 section-item">
                    <div class="caption">
                      It's FREE, it's easy and it's fun. <br/>Use it at home or at work.
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2 section-item">
                  <div class="caption">
                    Designed from day one for high resolution touch devices.
                    iMeet stays perfectly in sync across all your devices, wherever you are.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-md-offset-1 section-item">
                <div class="caption">
                    iMeet makes easy organize your events with a group of people. Notify your friends or colleges through every possible way: SMS, email, Phone.
                </div>

                </div>
                <div class="col-md-4 col-md-offset-2 section-item">
                  <div class="caption">
                    iMeet is smart and will enable you to use templates, process your recipients' RSVPs, keep track of your events and much more.
                  </div>
                </div>
              </div>
              </div>
            </div>

            <div class="section-container row" id="imeetPlus">
              <div class="col-md-4 col-md-offset-2 section-item caption">
                      <b>Want to notify using Sms and PhoneCalls?</b>
                      <br/> IMeet Plus is right for you.
              </div>
              <div class="col-md-2 caption centered">
                <button type="button" class="btn btn-success" disabled>Learn more about IMeet Plus</button>
              </div>
            </div>

            <!-- Footer -->
            <div class="section-container footer">
                <div class="footer-below">
                    <div class="container">
                      <div class="row">
                          <div class="col-lg-12">
                              Miami, FL<br/>
                              Copyright 2014 &copy; iMeet Inc. All rights reserved.
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 quiet">
                            <br/>Built with love, Internet style
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="view-container"></div>

    <script type="text/template" id="login">
        <div class="row medium-margin-top">
           <div class="col-md-12 section-item contact-table equidistant">
              <form id="loginForm" action="/login" method="post">
                  <section class="section">
                      <div class="row controls">
                          <div class="col-sm-4"></div>
                          <div class="col-sm-4 medium-margin">
                              <h4>Login</h4>
                              <fieldset>
                                  <div class="row">
                                      <div class="col-sm-1"></div>
                                      <div class="col-sm-10">
                                          <input id="username" name="username" required type="text" class="form-control small-margin" placeholder="Username">
                                          <input id="password" name="password" required type="password" class="form-control small-margin" placeholder="Password">
                                      </div>
                                      <div class="col-sm-1"></div>

                                  </div>
                                  <div class="row">
                                      <div class="col-sm-1"></div>
                                      <div class="col-sm-10">
                                          <label class="remember pull-right" style="padding: 10px">
                                            Remember me?
                                            <input type="checkbox" name="remember_me" id="remember_me" value="on">
                                          </label>
                                      </div>
                                      <div class="col-sm-1"></div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-1"></div>
                                      <div class="col-sm-10"><button type="submit" class="btn btn-success form-control pull-right">Login</button></div>
                                      <div class="col-sm-1"></div>
                                  </div>

                                  <div class="row" style="margin-top: 20px">
                                      <div class="col-sm-1"></div>
                                      <div class="col-sm-10">
                                          <div id="third_party_login">
                                              <ul class="social-login-icons">
                                                  <li style="width: auto">

                                                  </li>
                                                  <li>
                                                      <a href="/social_login/google">
                                                          <i class="fa fa-google fa-2x"></i>
                                                      </a>
                                                  </li>
                                                  <li>

                                                      <a href="/social_login/facebook">
                                                          <i class="fa fa-facebook fa-2x"></i>
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="col-sm-1"></div>
                                  </div>

                                  <div class="row" style="margin-top: 20px">
                                      <div class="col-sm-1"></div>
                                      <div class="col-sm-10">
                                          <label class="remember pull-right">
                                              <a href='/password-forgot'>Forgot your password?</a>
                                          </label>
                                      </div>
                                      <div class="col-sm-1"></div>
                                  </div>

                                  <div class="row">
                                      <div class="col-sm-1"></div>
                                      <div class="col-sm-10">
                                          <label class="remember pull-right">
                                              Don't have an account?
                                              <a href="/register" class="">Sign Up - It's Free.</a>
                                          </label>
                                      </div>
                                      <div class="col-sm-1"></div>
                                  </div>
                              </fieldset>
                          </div>
                          <div class="col-sm-4"></div>
                      </div>
                  </section>
                </form>
            </div>
        </div>

    </script>

    <div id="modal_container" class="portfolio-modal modal contacts-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>


     <script src="/js/imeet.min.js"></script>

    <script>

        var currentUser =
        {% if username %}
        {
          id: '{{user_id}}',
        };
        {%else %}
            null;
        {%endif %}

        var features = [
               {% for item in subscription_features %}
                    '{{ item }}',
                {% endfor %}
        ];

        {% if messages|safe %}
            $(function() {
                var notifications = [];
                {%
                    for message in messages %}
                    notifications.push({
                        alertType: '{{ message[1]|safe }}',
                        message: "{{ message[0]|safe }}" });
                    {%endfor %}
                    alert_notification(notifications);
            });
        {% endif %}

    </script>

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55798503-1', 'auto');
          ga('send', 'pageview');

</script>

</body>

</html>
