<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Organize your Events, notify your attendees, via Sms, Email, Phone Call, track their responses">
    <meta name="keywords" content="Imeet, meetings, events, social,
        gathering, isolation, isolate, reunion, rendezvous, rsvp, contact, friends, notify, sms, email, phone, call, ivr,
        organize, calendar, create, help, automate, report
    ">
    <meta name="author" content="Imeet">

    <title>iMeet - Create Events</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/css/imeet.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/custom-font.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,200,400" rel="stylesheet" type="text/css">

    <script src="/js/external.min.js"></script>

</head>

<body id="page-top" class="index">

<div id='view-container'>

</div>


<script src="/js/imeet.min.js"></script>
<script>

    var currentUser =
    {% if username %}
    {
      id: '{{user_id}}',
    };
    {%else %}
        null;
    {%endif %}

    var features = [
           {% for item in subscription_features %}
                '{{ item }}',
            {% endfor %}
    ];


    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55798503-1', 'auto');
    ga('send', 'pageview');
</script>
</body>

</html>
