<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Organize your Events, notify your attendees, via Sms, Email, Phone Call, track their responses">
    <meta name="keywords" content="Imeet, meetings, events, social,
        gathering, isolation, isolate, reunion, rendezvous, rsvp, contact, friends, notify, sms, email, phone, call, ivr,
        organize, calendar, create, help, automate, report
    ">
    <meta name="author" content="Imeet">

    <title>iMeet - Create Events</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/css/index.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/custom-font.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,700' rel='stylesheet' type='text/css'>
    
    <script src="/js/imeet_header.min.js"></script>
</head>

<body id="page-top" class="index {{ 'mobile-app' if is_mobile}} ">


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <div class="beta">BETA</div>
                    <i class="fa fa-paper-plane fa-1x small-margin"></i>iMEET
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#about" class="end-click">About</a>-->
                    <!--</li>-->
                     <!--<li>-->
                        <!--<a href="#about" class="end-click">iMEET Plus</a>-->
                    <!--</li>-->
                    <li class="page-scroll">
                      {% if username %}
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{email}} <span class="caret"></span></a>
                          <ul class="dropdown-menu " role="menu">
                            <li><a href="/search">My iMeets</a></li>
                            <li><a href="/contacts">My Contacts</a></li>
                            <li><a role="menuitem" tabindex="-1" href="/profile/edit">My Profile</a></li>
                            <li class="divider"></li>
                            <li><a role="menuitem" class="end-click" tabindex="-1" href="/logout">Logout</a></li>
                          </ul>
                      {%else %}
                            <a href="/login" class="end-click navigate">My account</a>
                      {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="block block1 body-background-1 scrollme">

      <ul class="home-imgs clearfix">
          <li class="home-imgs-1 active"></li>
          <li class="home-imgs-2"></li>
          <li class="home-imgs-3"></li>
      </ul>
      <div class="center-block">
          <h1 class="main-h1 animateme" data-when="span" data-from="0" data-to="1" data-easing="linear" data-opacity="0" data-scale="0.1" data-translatey ="-800" >Make your special event the one to remember...</h1>
          <a href="/new" class="btn btn-home main-btn imeet-btn animateme" data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey ="400" >Create Event</a>
      </div>

    </div>

     <section class="block block2 white-pattern">
        <div class="center-block">
           
            <div id="bx-pager">
              <a data-slide-index="0" href=""><i class="fa fa-circle"></i></a>
              <a data-slide-index="1" href=""><i class="fa fa-circle"></i></a>
              <a data-slide-index="2" href=""><i class="fa fa-circle"></i></a>
            </div>
            <div class="offer-title">Notify your friends or colleagues through every possible way</div>
            <ul class="home-slider">
              <li>
                  <div class="item-offer">
                      <div class="offer-group">
                          <div class="offer-icon">
                               <i class="fa fa-bubble"></i>
                          </div>

                          <div class="offer-inner-group">
                              <div class="offer-type">SMS</div>
                              <div class="offer-description">
                                Texting you can get your friends to know about your event on the go. Usually people respond to texts better than email or phone calls
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="item-offer">
                      <div class="offer-group">
                          <div class="offer-icon">
                               <i class="fa fa-phone"></i>
                          </div>

                          <div class="offer-inner-group">
                              <div class="offer-type">Phone</div>
                              <div class="offer-description">
                                With a phone call you can catch those old fashioned friends, or even those that cant text back but can talk
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="item-offer">
                      <div class="offer-group">
                          <div class="offer-icon">
                               <i class="fa fa-email"></i>
                          </div>

                          <div class="offer-inner-group">
                              <div class="offer-type">Email</div>
                              <div class="offer-description">
                                Email is the mainstream communication plattform these days. With Email you can template your invitations, either Barbeque, or baby shower, sports events
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
            </ul>

        </div>
    </section>

     <aside class="block block3 body-background-2 scrollme">
        <div class="center-block">
          <div class="container animateme"
            data-when="span"
            data-from="1"
            data-to="0"
            data-easing="easeinout"
            data-translatey ="200"
            data-opacity="0">
              <h1 class="main-h2">iMEET</h1>
              <h2 class="description-h2">Makes it easier to organize your events with a group of people.</h2>
          </div>
       </div>
    </aside>

    <section class="block block4 white-pattern scrollme">
        <div class="images clearfix">
            <div class="img animateme"
              data-when="span"
              data-from="1"
              data-to="0"
              data-crop="true"
              data-easing="linear"
              data-scale ="1.2"
              data-translatex ="-80"
              data-opacity="0.5"><img src="/img/face1.jpg"></div>
            <div class="img animateme"
              data-when="span"
              data-from="1"
              data-to="0"
              data-crop="false"
              data-easing="linear"
              data-scale ="1.2"
              data-translatex ="-20"
              data-opacity="0.5"><img src="/img/face2.jpg"></div>
            <div class="img animateme"
              data-when="span"
              data-from="1"
              data-to="0"
              data-crop="true"
              data-easing="linear"
              data-scale ="1.2"
              data-translatex ="20"
              data-opacity="0.5"><img src="/img/face3.jpg"></div>
            <div class="img animateme"
              data-when="span"
              data-from="1"
              data-to="0"
              data-crop="false"
              data-easing="linear"
              data-scale ="1.2"
              data-translatex ="80"
              data-opacity="0.5"><img src="/img/face4.jpg"></div>
        </div>
        <h1 class="main-h3">Share with friends, family and colleagues</h1>
        <h1 class="description">
            iMeet is smart and will enable you to use templates, process your recipients' RSVPs, keep track of your events and much more.
        </h1>
    </section>

    <aside class="block block5 body-background-4">
        <div class="center-block">
          <div class="container">

          </div>
      </div>
    </aside>

    <section class="block block6 white-pattern">
        <div class="center-block">
            <h1 class="footer-h1">iMEET</h1>
            <h2 class="footer-h2">Get started for free</h2>
            <a href="/new" class="btn btn-home footer-btn">Create Event</a>
        </div>
    </section>

    <section class="block block7 footer">
        <div class="center-block">
            <h1 class="footer-copyright">Copyright 2014 © iMeet Inc. All rights reserved.</h1>
            <h2 class="footer-city">Miami, FL</h2>
        </div>
    </section>

    <script src="/js/external.min.js"></script>
    <script src="/js/external/jquery-scrollme.js"></script>
    <script>
        function block(el, ratio) {
            var h = $(window).height();
            if (ratio === 'half')
              h = h/2;
            else if (ratio == 'quarter')
              h = h/3;
            else
                h = h;

            $(el).css('height',h);
        }

        $(function() {

            block('.body-background-1', 'full');
            block('.home-imgs', 'full');
            block('.body-background-2', 'half');
            $('.home-slider').bxSlider({
                controls: false,
                captions: true,
                pagerCustom: '#bx-pager',
                infiniteLoop: true,
                auto: true,
                autoStart: true,
                autoDirection: 'next',
                autoHover: true,
                pause: 8000,
                autoControls: false,
                pager: true,
                pagerType: 'full',
                speed: 500
            });

            $(window).resize(function() {
                block('.body-background-1', 'full');
                block('.home-imgs', 'full');
                block('.body-background-2', 'half');
            });
          
            /* Homepage Fade Images */
            var $slider = $(".home-imgs"),
                sliderIndex = 2,
                sliderActiveIndex = 0;
            
            function kuSlider () {
                sliderActive = $slider.children(".active");
                sliderActiveIndex = sliderActive.index();
                if ( sliderIndex <= sliderActiveIndex ) {
                    sliderActive.removeClass("active").fadeOut(2000);
                    $slider.children(":first").addClass("active").fadeIn(2000);
                } else {
                    sliderActive.removeClass("active").fadeOut(2000).next().addClass("active").fadeIn(2000);
                }
            }     
            setInterval(function(){
              kuSlider();
            }, 6000);
          
        });


        var features = [
               {% for item in subscription_features %}
                    '{{ item }}',
                {% endfor %}
        ];

        {% if messages|safe %}
            $(function() {
                var notifications = [];
                {%
                    for message in messages %}
                    notifications.push({
                        alertType: '{{ message[1]|safe }}',
                        message: "{{ message[0]|safe }}" });
                    {%endfor %}
                    alert_notification(notifications);
            });
        {% endif %}
        
        
        
        $(".imeet-btn").attr("data-translatey", $(window).height() /2 - 100);  

    </script>

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55798503-1', 'auto');
          ga('send', 'pageview');

</script>

</body>

</html>
