{% extends "base.html" %}

{% block css %}invite{% endblock %}
{% block title %}Invite{% endblock %}
{% block content %}

<div class="navbar-separator"></div>

<div id="invite-body"></div>

{% endblock %}

{% block initScript %}
<script type="text/javascript">
    var invite = {{invite}};
    var invite_attendee = {% if invite_attendee %}{{invite_attendee}}{%else %}null{% endif %};
</script>


<script>
        var features = [
               {% for item in subscription_features %}
                    '{{ item }}',
                {% endfor %}
        ];

        {% if messages|safe %}
            $(function() {
                var notifications = [];
                {%
                    for message in messages %}
                    notifications.push({
                        alertType: '{{ message[1]|safe }}',
                        message: "{{ message[0]|safe }}" });
                    {%endfor %}
                    alert_notification(notifications);
            });
        {% endif %}



    </script>

<script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55798503-1', 'auto');
          ga('invite_edit', 'pageview');

</script>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
{% endblock %}
