{% extends "base.html" %}

{% block css %}invite{% endblock %}
{% block title %}Event{% endblock %}
{% block content %}

<div class="navbar-separator"></div>

<div id="invite-body"></div>

{% endblock %}

{% block initScript %}
<script type="text/javascript">
    var invite = {{invite}};
    var invite_attendee = {% if invite_attendee %}{{invite_attendee}}{%else %}null{% endif %};
</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
{% endblock %}
