{% extends "base.html" %}

{% block css %}invite{% endblock %}
{% block title %}Event{% endblock %}
{% block content %}

<div class="navbar-separator"></div>

<div id="invite-body">
    <section class="block block6 white-pattern">
        <div class="center-block">
            <h4 class="footer-h1">Great! A confirmation email was sent to: {{organizer_email}}</h1>
            <h4 class="footer-h2">Please check your email and follow the instructions.</h2>
            <a href="/new" class="btn btn-home footer-btn">Create another Event</a>
        </div>
    </section>
</div>

{% endblock %}