<div class="modal addGroup-modal" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
            <h4 class="modal-title" id="myModalLabel">Add New Group</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control new-group-input" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-dialog" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary new-group-btn">Create</button>
        </div>
    </div>
  </div>
</div>