<div class="contact-row col-md-12 col-xs-12 col-sm-12" data-id="<%- unique_id %>" draggable="true">
    <div class="editable col-md-3 col-xs-8 col-sm-4" >
        <%- name %>
    </div>
    <div class="editable desktop tablet col-md-3 col-sm-3"><%- email %></div>
    <div class="editable desktop tablet col-md-3 col-sm-3"><%- phone %></div>
    <div class="col-md-2 col-xs-4 update-column pull-right col-sm-2">
        <a class="editable" href="#"><i class="fa-pen fa-1_2x"></i></a>
        <a class="delete-contact" href="#"><i data-id="<%- unique_id %>" class="fa-delete-garbage-streamline fa-1_2x"></i></a>
    </div>
</div>