<div id="new-contact-container"></div>

<div class="row no-margin contacts-header">

    <h3 class="current-page">Contacts</h3>
    <h3 ><a href="#" class="navigate-to-groups inactive-page">Groups</a></h3>

    <a class="btn btn-success add-contact pull-right" href="contacts/new">New Contact</a>
    <!--<a class="btn add-group pull-right" href="#">New Group</a>-->
</div>

<div class="row small-margin-top no-margin contacts-table-container">
    <div id="contacts_table" class="small-margin-top">
        <% _.each( contacts, function( contact ){ %>
            <%= partial('contact_item.html', contact) %>
        <% }); %>
    </div>
</div>