<div class="modal addContact-modal" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
            <h4 class="modal-title" id="myModalLabel">
                <% if(createMode) {%>
                    Add New Contact
              <%} else { %>
                    Edit
              <%} %>

            </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">Name: </div>
                    <div class="col-md-10">
                        <input type="text" value="<%-contact.name %>" class="form-control contact_input" id="nameInput" placeholder="Jane Doe" data-validation="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Phone: </div>
                    <div class="col-md-10">
                        <input type="text" value="<%-contact.phone %>" class="form-control contact_input" id="phoneInput" placeholder="000 000 0000" data-validation="phone">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Email: </div>
                    <div class="col-md-10">
                        <input type="text" value="<%-contact.email %>" class="form-control contact_input" id="emailInput" placeholder="john.smith@example.com" data-validation="email">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-dialog" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary new-contact-btn">
                    <% if(createMode) {%>
                            Create
                      <%} else { %>
                            Update
                      <%} %>
                </button>
        </div>
    </div>
  </div>
</div>