<div id='<%- unique_id %>'  class='contact-row col-md-12' data-contact='<%- name%>;<%-email%> <%-phone %>'>
    <div class='col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-0'> <%-name %></div>
    <div class='col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-0'> <%-email %></div>
    <div class='col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-0'> <%-phone %></div>
    <div class='col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-0'>
        <button type='button' class='btn btn-danger remove-contact form-control' data-rowid='<%-unique_id %>'>-</button>
    </div>
</div>
