<div class="row" data-id="<%- unique_id %>">
    <div class="editable col-sm-4 col-xs-8">
        <input id="edit-name" value="<%- name %>" placeholder="Name...">
    </div>
    <div class="desktop tablet col-sm-4">
        <input id="edit-email" value="<%- email %>" placeholder="Email...">
    </div>
    <div class="desktop tablet col-sm-2">
        <input id="edit-phone" value="<%- phone %>" placeholder="Phone...">
    </div>
    <div class="col-sm-2 col-xs-4 update-column">
        <a href="#" class="finish-edit">OK</a>
    </div>
</div>