<!--<div id='<%- unique_id %>'  class='contact-row col-md-12' data-contact='<%- name%>;<%-email%> <%-phone %>'>-->
    <!--<div class='col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-0'>-->
        <!--<b><%-name %></b> <%-email %> <%-phone %>-->
    <!--</div>-->
    <!--<div class='col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-0'>-->
        <!--<button type='button' class='btn btn-danger remove-contact' data-rowid='<%-unique_id %>'>-</button>-->
    <!--</div>-->
<!--</div>-->

<div class="col-md-12 contact-item-details" id='<%- unique_id %>'>
    <span class="details"><b><%-name %></b> <%-email %> <%-phone %></span>
    <button type='button' class='btn btn-danger remove-contact pull-right' data-rowid='<%-unique_id %>'>-</button>
</div>
