<div class="contact-row" data-id="<%- unique_id %>" draggable="true">
    <div class="editable contact-picture" data-id="<%- unique_id %>" >
        <i class="fa fa-person fa-2x" data-id="<%- unique_id %>"></i>
    </div>

    <div class="contact-row-container" data-id="<%- unique_id %>">
        <div class="contact-name" data-id="<%- unique_id %>">
            <%- name %>
        </div>
        <div class="contact-email" data-id="<%- unique_id %>">
            <%- email %>
        </div>
        <div class="contact-phone" data-id="<%- unique_id %>">
            <%- phone %>
        </div>
    </div>

    <a class="update-contact" href="#"><i class="fa-pen fa-1_2x"></i></a>

    <div class="editable contact-actions">
        <a class="delete-contact" href="#"><i data-id="<%- unique_id %>" class="fa-delete-garbage-streamline fa-1_2x"></i></a>
    </div>
</div>