<div class="row" data-id="<%- unique_id %>">
    <div class="editable col-md-3 col-xs-8">
        <input id="edit-name" value="<%- name %>" placeholder="Name...">
    </div>
    <div class="desktop tablet col-md-3">
        <input id="edit-email" value="<%- email %>" placeholder="Email...">
    </div>
    <div class="desktop tablet col-md-3">
        <input id="edit-phone" value="<%- phone %>" placeholder="Phone...">
    </div>
    <div class="col-md-3 update-column">
        <a href="#" class="finish-edit">OK</a>
    </div>
</div>