<div class="contact-row" data-id="<%- unique_id %>" draggable="true">
    <div class="editable contact-picture" >
        <i class="fa fa-person fa-2x"></i>
    </div>

    <div class="contact-row-container">
        <div class="contact-name" >
            <%- name %>
        </div>
        <div class="contact-email" >
            <%- email %>
        </div>
        <div class="contact-phone" >
            <%- phone %>
        </div>
    </div>

    <a class="update-contact" href="#"><i class="fa-pen fa-1_2x"></i></a>

    <div class="editable contact-actions">
        <a class="delete-contact" href="#"><i data-id="<%- unique_id %>" class="fa-delete-garbage-streamline fa-1_2x"></i></a>
    </div>
</div>