<div class="edit-profile-view">

   <div class="col-xs-12 text-center">
       <h4>Edit your profile</h4>
   </div>

   <div class="col-xs-12 text-center">
       <div id="edit-profile-email">Email</div>
   </div>

   <div class="col-xs-12 text-center">
       <input id="edit-profile-name" type="text" class="form-control valid-before-submit" placeholder="John Smith..." data-validation="required">
   </div>

   <div class="col-xs-12 text-center">
       <input id="edit-profile-username" type="text" class="form-control valid-before-submit" placeholder="username..." data-validation="required">
   </div>

   <div class="col-xs-12 text-center">
       <input id="edit_profile_password" name="edit_profile_password" type="password" class="form-control valid-before-submit" placeholder="password..." data-validation="required">
   </div>

    <div class="col-xs-12 text-center">
       <input name="edit_profile_password_confirm" id="edit_profile_password_confirm" type="password" class="form-control valid-before-submit" placeholder=" confirm password..." data-validation="required">
   </div>

    <div class="col-xs-12 text-center">
       <button type='button' class='save-profile btn btn-info form-control'>Save</button>
    </div>

</div>
