<div class="form-horizontal contacts-form">
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" placeholder="Jane Doe">
  </div>

  <div class="form-group">
    <label for="emailInput">Email contact</label>
    <input type="email" class="form-control" id="emailInput" placeholder="jane.doe@example.com">
  </div>
  <div class="form-group">
    <label for="phoneInput">Phone number</label>
    <input type="text" class="form-control" id="phoneInput" placeholder="123-456-7890">
  </div>

  <div class="form-group">
    <button id="save-contact" type="submit" class="btn btn-default">Add contact</button>
  </div>
</div>