<div class="form-horizontal contacts-form">
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control contact_input" id="nameInput" placeholder="Jane Doe" data-validation="required">
  </div>

  <div class="form-group">
    <label for="emailInput">Email contact</label>
    <input type="email" class="form-control contact_input" id="emailInput" placeholder="jane.doe@example.com" data-validation="email">
  </div>
  <div class="form-group">
    <label for="phoneInput">Phone number</label>
    <input type="text" class="form-control contact_input" id="phoneInput" placeholder="123-456-7890" data-validation="phone">
  </div>

  <div class="form-group">
    <a class="add-contact btn" id="save-contact">Add contact</a>
  </div>
</div>