<div class="form-horizontal">
  <div class="form-group">
    <label for="firstNameInput">Firstname</label>
    <input type="text" class="form-control" id="firstNameInput" placeholder="Jane">
  </div>
  <div class="form-group">
    <label for="lastNameInput">Lastname</label>
    <input type="text" class="form-control" id="lastNameInput" placeholder="Doe">
  </div>

  <div class="form-group">
    <label for="emailInput">Email contact</label>
    <input type="email" class="form-control" id="emailInput" placeholder="jane.doe@example.com">
  </div>
  <div class="form-group">
    <label for="phoneNumberInput">Phone number</label>
    <input type="text" class="form-control" id="phoneNumberInput" placeholder="123-456-7890">
  </div>

  <div class="form-group">
    <button id="save-contact" type="submit" class="btn btn-default">Add contact</button>
  </div>
</div>