<%
    var color = randomColor();
    var inverse = colorInverter(color);
%>
<div class="panel panel-default <%- panel_class %>" data-id="<%- unique_id %>" id="panel_<%- unique_id %>">
    <div class="panel-heading group-drop-area" role="tab" id="heading_<%- unique_id %>" data-id="<%- unique_id %>">
        <div class="panel-title group-drop-area" data-id="<%- unique_id %>">
            <a class="collapsed group-drop-area" data-toggle="collapse" data-parent="#groups_accordion" href="#collapse_<%- unique_id %>"
               aria-expanded="false" aria-controls="collapse_<%- unique_id %>" data-id="<%- unique_id %>">
                <div data-id="<%- unique_id %>" class="group-drop-area">
                    <%- cut(name)%><i style="float: right" class="fa fa-angle-down fa-1_5x"></i>
                </div>
            </a>
      </div>
    </div>
    <div id="collapse_<%- unique_id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" >
        <div class="panel-body group-box group-drop-area" data-id="<%- unique_id %>" id="groupbox_<%- unique_id %>">
            Drop Here!!! <br/>
            <%_.each(contacts, function(contact) { %>

                <div class="col-md-5 group-contact">
                    <%- cut(contact.name,8) %>
                </div>
            <% }) %>
        </div>
    </div>
</div>

