<div class="group-row" data-id="<%- unique_id %>" draggable="true">
    <div class="editable group-picture" >
        <i class="fa fa-organization fa-2x"></i>
    </div>

    <div class="group-row-container">
        <div class="group-name" >
            <%- name %>
        </div>
    </div>

    <a class="update-group" href="#"><i class="fa-pen fa-1_2x"></i></a>

    <div class="editable group-actions">
        <a class="delete-group" href="#"><i data-id="<%- unique_id %>" class="fa-delete-garbage-streamline fa-1_2x"></i></a>
    </div>
</div>