<div class="row small-margin-top">
    <div class="col-md-12 no-margin">
        <h4>Comments</h4>
    </div>
</div>

<div class="row no-margin comment-box">
    <%if(current_attendee != null){ %>
        <%= partial('invite_comment_box.html', null) %>
    <%} %>
</div>

<div class="row invite-comments">
    <div class="col-md-12 invite-comments-container">
        <% _.each( comments, function( comment ){ %>
            <%= partial('invite_comment.html', comment) %>
        <% }); %>
    </div>
</div>

