

<div class="row rsvp">
    <div class="panel panel-default no-border">
      <div class="panel-heading yes">Who is coming?</div>
      <div class="panel-body">
        <table class="table">
            <tbody>
                <% _.each( confirmed, function( item ){ %>
                <tr>
                    <td>
                        <span class="details">
                            <% if(item.status == 'organizer') {%>
                                <i>Host</i>
                            <% } %>
                            <b><%-item.name %></b> <%-item.email %> <%-item.phone %>
                        </span>
                    </td>
                </tr>
            </tbody>
        <% }); %>
        </table>
      </div>
   </div>

    <div class="panel panel-default no-border">
      <div class="panel-heading no">Who is not coming?</div>
      <div class="panel-body">
        <table class="table">
            <tbody>
                <% _.each( negated, function( item ){ %>
                <tr><td><span class="details"><b><%-item.name %></b> <%-item.email %> <%-item.phone %></span></td></tr>
            </tbody>
        <% }); %>
        </table>
      </div>
   </div>

    <div class="panel panel-default no-border">
      <div class="panel-heading">Who is invited?</div>
      <div class="panel-body">
        <table class="table">
            <tbody>
                <% _.each( no_response, function( item ){ %>
                <tr><td><span class="details"><b><%-item.name %></b> <%-item.email %> <%-item.phone %></span></td></tr>
            </tbody>
        <% }); %>
        </table>
      </div>
   </div>


</div>

