<div class="invite-view">
    <div class="row">
        <div id="invite-header"></div>
    </div>
    <div class="row no-margin">
        <div id="invite-details" class="invite-subheader-banner"></div>
    </div>

    <div class="row invite-body no-margin">
        <div class="small-margin-top"></div>
        <div class="col-md-1"/>
        <div class="col-md-4 attendees">
            <div id="invite-attendees">
                <!--using invite_attendees.html subview-->
            </div>
        </div>
        <div class="col-md-1"/>
        <div class="col-md-5 hangout">
            <div class="row small-margin-top desktop desktop-description">
                <div class="col-md-12">
                    <h4>Message from the host</h4>
                    <div class="invite-description"/>
                </div>
            </div>

            <div id="invite-comments"></div>

        </div>
        <div class="col-md-1"/>
    </div>
</div>



