<div class="modal-content">
        <div class="close-modal" data-action="dismiss">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container invite-table">
            <div class="row controls">
                <div class="col-sm-6">
                    <h3><div class="invite-title"></div></h3>
                </div>
                <div class="col-sm-6 ">
                    <h4><div class="invite-date"></div></h4>
                </div>
            </div>

            <div class="row medium-margin line"></div>
            <div class="invite_report_attendees">
                <div class='row small-margin'><h5>Attendees</h5></div>
                <div class='row contact-row small-margin'>
                    <div class='col-sm-2  desktop'> <strong>Name</strong></div>
                    <div class='col-sm-2 desktop'>  <strong>Phone</strong> </div>
                    <div class='col-sm-2  desktop'> <strong>Email</strong></div>
                    <div class='col-sm-2  desktop'> <strong>Sms Response</strong></div>
                    <div class='col-sm-2  desktop'> <strong>Voice Response</strong></div>
                    <div class='col-sm-2  desktop'> <strong>Email Response</strong></div>
                </div>
            </div>
            <!--<div class="row medium-margin line"></div>-->
        </div>
    </div>
