<div class="row rsvp small-margin-top">
      <% if(attendee != null && attendee.status != 'deleted' && attendee.status != 'organizer') {%>
        <div class="panel panel-default">
          <div class="panel-heading">
              <% if(attendee.status == 'no_response') {%>
                    Are you coming?
              <%} else if(attendee.status == 'no') { %>
                    Sad you can't attend :(
              <%} else if(attendee.status == 'yes') { %>
                    Glad you're coming :)
              <%} %>
          </div>

          <div class="panel-body acknowledge-body">
            <div class="col-md-6 yes-button">
                <button type="button" class="btn form-control btn-success invite-attendees-acknowledge-yes response-<%- attendee.status %>">YES</button>
            </div>
            <div class="col-md-6 no-button">
                <button type="button" class="btn form-control btn-danger invite-attendees-acknowledge-no response-<%- attendee.status %>">NO</button>
            </div>
          </div>
        </div>
      <%} else if(attendee != null && attendee.status == 'deleted') {%>
        <div class="panel panel-default">
            <div class="panel-heading"></div>
              <div class="panel-body">
                <b>The organizer removed you from this event</b>
            </div>
        </div>
      <%} else if(attendee != null && attendee.status == 'organizer') {%>
        <!-- Potentially also add people here -->
      <%} else{%>

      <%}%>

</div>

<div class="row rsvp no-margin">
    <div class="panel panel-default no-border">
      <div class="panel-heading yes">Who is coming?</div>
      <div class="panel-body">
        <% _.each( confirmed, function( item ){ %>
            <%= partial('invite_attendee.html', item) %>
        <% }); %>
      </div>
   </div>

    <div class="panel panel-default no-border">
      <div class="panel-heading no">Who is not coming?</div>
      <div class="panel-body">
        <% _.each( negated, function( item ){ %>
            <%= partial('invite_attendee.html', item) %>
        <% }); %>
      </div>
   </div>

    <div class="panel panel-default no-border">
      <div class="panel-heading">
          Who is invited?

      </div>

      <div class="panel-body no-response-table">
        <% _.each( no_response, function( item ){ %>
            <%= partial('invite_attendee.html', item) %>
        <% }); %>
      </div>
   </div>


</div>

