
<div id="search-view">

    <div class="row no-margin desktop">
        <div class="col-sm-10 no-padding">
            <input id="searchBox" type="text" class="form-control event-name" placeholder="Invite Title" data-validation="required">
        </div>

        <div class="col-sm-2 no-padding">
            <button type="button" class="btn btn-success form-control search">Search</button>
        </div>
    </div>

    <div class="row no-margin filter-row">
        <div class="navigator">
            <div><a href="" class="filter unread" data-filter="unread">Unread</a></div>
            <div>|</div>
            <div><a href="" class="filter accepted" data-filter="accepted">Accepted</a></div>
            <div>|</div>
            <div><a href="" class="filter denied" data-filter="denied">Denied</a></div>
            <div>|</div>
            <div><a href="" class="filter hosting" data-filter="host">Hosting</a> </div>
            <div>|</div>
            <div><a href="" class="filter all" data-filter="">All</a> </div>
        </div>
    </div>

    <div class="controls" id="search-result">
        <% if (invites.length == 0) { %>
            Your search didn't resolved any iMeets. <a href="/new" type="button" class="btn btn-success">Start sending!</a>
        <%
        } %>
        <% _.each( invites, function( item ){ %>
            <% if (item.invite_attendee_role == 'organizer') { %>
                <%= partial('attendee_host_list_item.html', item) %>
            <%
            } else { %>
                <%= partial('attendee_list_item.html', item) %>
            <% } %>

        <% }); %>
    </div>
</div>

