

<div class="snap-panel invite-create">
    <section data-panel="first" class="container invite first">
        <div class="row text-center invite-content ">
            <div class="">
                <h4>Event</h4>
            </div>
            <div class="">

                <%  if( currentUser == null )  { %>
                    <label class="small-text">
                    Note: For sms/calls to work, you have to be a registered
                    <br/>
                    Note2: Sms/calls will be free only during the beta phase. After that a subscription base fee will be offered
                    </label>
                <% } %>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <input required type="text" class="form-control event-name valid-before-submit" placeholder="Event" autofocus data-validation="required" >
                </div>
            </div>

            <div class="row small-margin-top">
                <h4>Details</h4>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                  <input type="text" class="form-control event-where" placeholder="Location...."  >
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12  col-md-3 col-md-offset-2">
                    <div class="date-group" id="start-date-group">
                        <input readonly="true" required type="text" class="date event-start-date valid-before-submit" placeholder="01/01/2000"
                               data-validation="required,date"
                        >
                        <input readonly="true" required type="int" class="time event-start-time  valid-before-submit" placeholder="00:00 AM" data-validation="required" >
                    </div>
                </div>
                <div class="col-xs-12 col-md-2 text-center label-text">
                    To
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="date-group">
                        <input readonly="true" required type="text" class="date event-end-date" placeholder="01/01/2000">
                        <input readonly="true" required type="text" class="time event-end-time" placeholder="00:00 AM"  >
                    </div>
                </div>
            </div>
            <div class="row desktop tablet small-margin-top">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                  <textarea class="form-control event-description" rows="6"></textarea>
                </div>
            </div>

        </div>
        <div class="row  menu-container menu-down">
            <ul class="menu">
                <li>
                    <a href="" data-panel="second"><i class="fa fa-angle-down fa-5x"></i></a>
                </li>
            </ul>
        </div>
    </section>

        <section data-panel="second" class="container invite third">
            <div class="text-center invite-content invite-contacts-setup ">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                        <h4>Who is invited?</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="text-center col-xs-8 col-md-7 col-md-offset-2 contact-input-container">
                        <input type="text" class="contact-input form-control"
                            <%  if( features.indexOf('voice') != -1 )  { %>
                                data-validation='required,email|phone' placeholder='Name, Phone Number, Email'
                            <% } else { %>
                                data-validation='required,email' placeholder='Email Address'
                            <% } %>>
                    </div>
                    <div class="col-xs-3 col-md-1">
                        <button type="button" class="btn new-contact-button form-control">+</button>
                    </div>
                </div>

                <div class="row">
                    <div class="contact-table text-center col-xs-12 col-md-8 col-md-offset-2">

                    </div>
                </div>
            </div>

            <div class="row menu-container menu-down  desktop tablet">
                <ul class="menu">
                    <li>
                        <a href="" data-panel="third"><i class="fa fa-angle-down fa-5x"></i></a>
                    </li>
                </ul>
            </div>
        </section>

        <section data-panel="third" class="container invite fourth">
            <div class="row text-center invite-content">
                <div id="reportXXX"></div>
            </div>


        </section>
</div>


<!-- Footer -->
<div class="section-container footer desktop navbar-fixed-bottom">
<div class="footer-below">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              Miami, FL<br/>
              Copyright 2014 &copy; iMeet Inc. All rights reserved.
          </div>
      </div>
    </div>
</div>
</div>
