<div id='header'>
    <div class='title'>iMeet</div>
</div>

<div class="invite-inline">
    <div class='row'>
        <div class="col-xs-12 event-name-home">
            <input type="text" class="invite-title-input" placeholder="Event Name...">
            <button class="imeet-btn" data-action="modal" data-where="new">Create</button>
        </div>
    </div>
    <div class='row intro-text' >
        <div class="col-xs-12 title">
            Create your events
        </div>
        <div class="col-xs-12" >
            <i class="fa fa-star fa-1x"></i>&nbsp; Email  Sms  Phone Call &nbsp;<i class="fa fa-star fa-1x"></i>
        </div>
    </div>
</div>
