<div class="invite-view">
    <div class="row">
        <div id="invite-header"></div>
    </div>
    <div class="row">
        <div id="invite-details" class="invite-subheader-banner"></div>
    </div>
    <div class="row">
        <div class="small-margin-top"></div>
        <div class="row invite-body">
        <div class="col-md-2"/>
        <div class="col-md-4 attendees no-padding">
            <div id="invite-new-attendee">
            </div>
            <div id="invite-attendees">

            </div>
        </div>

        <div class="col-md-4 hangout">
            <div class="row small-margin-top desktop desktop-description">
                <div class="col-md-12">
                    <h4>Message from the host</h4>
                    <div class="invite-description"/>
                </div>
            </div>

            <div id="invite-comments"></div>

        </div>
        <div class="col-md-2"/>
    </div>
    </div>
</div>

