<div class="invite-view">
    <div class="panel">
         <div class="panel-heading" >
            <div class="zero-margin">
                 <div class='pull-left col-xs-3 col-md-6'><h2 class='invite-title'></h2></div>
                 <div class='col-xs-9 col-md-4 text-right'>
                    <div class='col-xs-12 col-md-12 invite-date'></div>
                 </div>
            </div>
         </div>
        <div class="panel-body">
            <div class="invite-view-content zero-margin small-margin-top">
                <div class="col-md-6 attendees">
                    <div class="row">
                        <h4><b>Attendees</b></h4>
                    </div>
                    <div class="row invite-table">

                    </div>
                </div>
                <div class="col-md-6 hangout">
                    <h4><b>Hangout</b></h4>
                    <div class="row invite-comments">
                    </div>
                    <input placeholder="Write a comment..." class="invite-newComment form-control ">
                </div>
            </div>
        </div>
     </div>

    <!--<div class="invite-location"></div>-->


</div>



