<% if(attendee != null && attendee.status == 'organizer') {%>
    <div id="new-contact-container" ></div>
<%}%>

<% if(attendee != null && attendee.status != 'organizer') {%>
    <div class="row rsvp small-margin-top">
          <% if(attendee.status != 'deleted') {%>
            <div class="panel panel-default">
              <div class="panel-heading palette-editable">
                  <% if(attendee.status == 'no_response') {%>
                        Are you coming?
                  <%} else if(attendee.status == 'no') { %>
                        Sad you can't attend :(
                  <%} else if(attendee.status == 'yes') { %>
                        Glad you're coming :)
                  <%} %>
              </div>

              <div class="panel-body acknowledge-body">
                <div class="col-md-6 yes-button">
                    <button type="button" class="btn form-control btn-success invite-attendees-acknowledge-yes response-<%- attendee.status %>">YES<i class="fa fa-check-mark"></i></button>
                </div>
                <div class="col-md-6 no-button">
                    <button type="button" class="btn form-control btn-danger invite-attendees-acknowledge-no response-<%- attendee.status %>">NO<i class="fa fa-check-mark"></i></button>
                </div>
              </div>
            </div>
          <%} else if(attendee != null && attendee.status == 'deleted') {%>
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                  <div class="panel-body">
                    <b>The organizer removed you from this event</b>
                </div>
            </div>
          <%} else if(attendee != null && attendee.status == 'organizer') {%>
            <!-- Potentially also add people here -->
          <%} else{%>

          <%}%>
    </div>
<%} %>

<div class="row rsvp no-margin">
    <div class="panel panel-default no-border">
      <div class="panel-heading yes palette-editable"> Who is coming? (<%-confirmed.length%>)</div>
      <div class="panel-body">
        <% _.each( confirmed, function( item ){ %>
            <% if(item.status != 'organizer' && edit_view && attendee != null && attendee.status == 'organizer') {%>
                <%= partial('invite_attendee_admin.html', item) %>
          <%} else {%>
            <%= partial('invite_attendee.html', item) %>
          <%} %>
        <% }); %>
      </div>
   </div>

    <div class="panel panel-default no-border">
      <div class="panel-heading no palette-editable">Who is not coming? <% if(negated.length>0){%>(<%-negated.length%>)<%}%></div>
      <div class="panel-body">
        <% _.each( negated, function( item ){ %>
            <% if(edit_view && attendee != null && attendee.status == 'organizer') {%>
                <%= partial('invite_attendee_admin.html', item) %>
          <%} else {%>
            <%= partial('invite_attendee.html', item) %>
          <%} %>
        <% }); %>
      </div>
   </div>

    <div class="panel panel-default no-border">
      <div class="panel-heading palette-editable">
          Who is invited?
          <button class="btn invited-recipients-notification pull-right hide" value="Notify !" data-toggle="tooltip" data-placement="bottom" title="We will only notify pending (!) attendees">
              Notify <span id="total_pending_notifications"><%- pending_notifications.total%></span><span class="warning" title="Contacts pending for notification">!</span>
          </button>
      </div>
      <div class="panel-body no-response-table">
        <% _.each( no_response, function( item ){ %>
          <% if(edit_view && attendee != null && attendee.status == 'organizer') {%>
                <%= partial('invite_attendee_admin.html', item) %>
          <%} else {%>
            <%= partial('invite_attendee.html', item) %>
          <%} %>
        <% }); %>
      </div>
   </div>


</div>

