<div class="invite-edit-box col-md-6">
    <div class="row small-margin-top">
        <div class="col-md-6"><h5>Event Start Time</h5></div>
        <div class="col-md-6"><h5>Event End Time</h5></div>
    </div>
    <div class="row">
        <div class="col-md-6"><%- start %></div>
        <div class="col-md-6"><%- end %></div>
    </div>
    <div class="row small-margin-top">
        <div class="col-md-12"><h5>Location</h5></div>
    </div>
    <div class="row">
        <div class="col-md-10"><%- where %></div>
        <div class="col-md-2"><i class="fa fa-circle"></i></div>
    </div>
    <div class="row small-margin-top">
        <div class="col-md-6"><h5>Event Details</h5></div>
    </div>
    <div class="row">
        <div class="col-md-12"><%- description %></div>
    </div>
    <div class="row small-margin-top">
        <div class="facebook_share col-md-12">
                <div>Share on Facebook
                <input type="checkbox"
                   data-toggle="toggle"
                   id="bt_toggle"
                   class="share_to_facebook"
                   data-style="android"
                   data-on=" " data-off=" "
                   data-onstyle="info"
                   data-onstyle="success" data-offstyle="danger" />
                </div>
            </div>
    </div>
    <div class="row medium-margin-top">
        <div class="col-no-padding col-md-12"><button type="button" class="btn form-control btn-success edit-button">Edit</button></div>
    </div>
</div>