<div class="row equidistant invite_report">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
         <div class="panel-heading" >
                <div class="row">
                     <div class='pull-left col-xs-3 col-md-6'><h4 class='event-name'></h4></div>
                     <div class='col-xs-9 col-md-6 text-right'>
                        <div class='col-xs-12 col-md-12 event-start-date-formatted'></div>
                        <div class='col-xs-12 col-md-12 event-end-date-formatted'></div>
                     </div>
                </div>
             </div>
         </div>

          <div class="panel-body container">

            <div class='left col-xs-12 col-md-6'>
                <div class=' event-description'></div>

                <div class='small-margin-top'>
                    <div class='label_title col-md-1 text-right'>Where:</div>
                    <div class='pull-left col-md-5 text-left small-margin-left'>
                        <div class='event-address-street-with-number'></div>
                        <div class='event-address-state-city'></div>
                        <div class='event-address-zip'></div>
                    </div>
                </div>
            </div>

            <div class=' right col-xs-12 col-md-3'>
                <ul class="contact-read-table" style="list-style: none">

                </ul>
            </div>



          </div>
        </div>
    </div>
</div>
