<div id="invite-create">
    <div class="row no-margin event-title-row">
        <div class="no-padding col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>Create iMeet <i class="fa fa-paper-plane fa-1x"></i></h1>
        </div>
    </div>

    <%  if( currentUser == null )  { %>
        <div class="desktop row no-margin">
            <div class="no-padding col-xs-12 col-md-8 col-md-offset-2 text-center">
                <label class="small-text">
                Note: For sms/calls to work, you have to be a registered
                <br/>
                Note2: Sms/calls will be free only during the beta phase. After that a subscription base fee will be offered
                </label>
            </div>
        </div>
    <% } %>

    <div class="row no-margin event-title-input-row">
        <div class="no-padding col-xs-12 col-md-8 col-md-offset-2">
            <input type="text" class="form-control event-name-input valid-before-submit" placeholder="Event Title" autofocus data-validation="required" value="<%-title%>" >
        </div>
    </div>

    <div class="row no-margin organizer-email-input-row">
        <div class="no-padding col-xs-12 col-md-8 col-md-offset-2">
            <input type="text" class="form-control organizer-email-input valid-before-submit" placeholder="Your Email" autofocus data-validation="required" value="<%-organizer_email%>" >
        </div>
    </div>

    <div class="row no-margin location-input-row">
        <div class="no-padding col-xs-12 col-md-8 col-md-offset-2">
              <input type="text" class="form-control event-location-input" placeholder="Location...."  >
        </div>
    </div>

    <div class="mobile tablet row no-margin from-event-date-row">
        <div class="no-padding col-xs-12 col-md-2 text-center label-text text-center">
            <h1>From</h1>
        </div>
    </div>

    <div class="row no-margin event-date-row">
        <div class="no-padding date-group col-xs-12 col-md-3 col-md-offset-2" id="start-date-group">
            <input readonly="true" required type="text" class="date event-start-date valid-before-submit" placeholder="01/01/2000" data-validation="required,date"  value="<%-start_date %>">
            <input readonly="true" required type="int" class="time event-start-time  valid-before-submit" placeholder="00:00 AM" data-validation="required"  value="<%-start_time %>">
        </div>

        <div class="no-padding col-xs-12 col-md-2 text-center to-event-date-row">
            <h1>To</h1>
        </div>

        <div class="no-padding date-group col-xs-12  col-md-3 end-event-date-input-row" id="end-date-group">
            <input readonly="true" required type="text" class="date event-end-date" placeholder="01/01/2000" value="<%-end_date %>">
            <input readonly="true" required type="text" class="time event-end-time" placeholder="00:00 AM"  value="<%-end_time %>">
        </div>

    </div>

    <div class="row desktop no-margin description-row">
        <div class="no-padding col-xs-12 col-md-8 col-md-offset-2 ">
          <textarea class="form-control event-description-input" rows="6"></textarea>
        </div>
    </div>


    <!--<div class="no-margin">-->
        <!--<div class="no-padding col-xs-12  col-md-3 col-md-offset-2">-->
            <!--<div class=" facebook_share pull-right" style="display: inline-block">-->
                <!--<div>Share on Facebook</div>-->
                <!--<div><input type="checkbox"-->
                   <!--data-toggle="toggle"-->
                   <!--id="bt_toggle"-->
                   <!--class="share_to_facebook"-->
                   <!--data-style="android"-->
                   <!--data-on=" " data-off=" "-->
                   <!--data-onstyle="info"-->
                   <!--data-onstyle="success" data-offstyle="danger" />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row no-margin button-row">
        <div class="no-padding text-center col-xs-12  col-md-8 col-md-offset-2">
            <button type="button" class="btn form-control btn-success send">Create</button>
        </div>
    </div>
</div>
