<div id="login-page">
<form id="loginForm" action="/login" method="post">

<div class="login-box">
    <div class="row no-margin text-center">
        <div class="no-padding col-md-6 col-xs-6">
             <a href="/login/social/facebook" class="btn btn-facebook ">
              <div class="text">Login with Facebook</div>
              <div class="letter">
                <i class="fa fa-facebook fa-2x"></i>
              </div>
            </a>
        </div>
        <div class="no-padding col-md-6 col-xs-6">
            <a href="/login/social/google"  class="btn btn-google">
                <div class="text">
                    Login with Google
                </div>
                <div class="letter">
                    <i class="fa fa-google fa-2x"></i>
                </div>
            </a>
        </div>
    </div>


    <div class="row no-margin">
        <div class="no-padding col-md-12 section-item contact-table equidistant">
          <h4>Have an account with us?</h4>
        </div>
    </div>

    <div class="row no-margin">
        <div class="no-padding col-md-12">
            <input id="username" name="username" required type="text" class="form-control " placeholder="Username">
        </div>
    </div>

    <div class="row no-margin">
        <div class="no-padding col-md-12">
            <input id="password" name="password" required type="password" class="form-control " placeholder="Password">
        </div>
    </div>

    <div class="row no-margin">
        <div class="no-padding col-md-12">
            <label class="remember pull-right" style="padding: 10px">
                Remember me?
                <input type="checkbox" name="remember_me" id="remember_me" value="on">
              </label>
        </div>
    </div>

     <div class="row no-margin">
          <div class="col-sm-12 no-padding">
              <button type="submit" class="btn btn-success form-control pull-right">Login</button>
          </div>
      </div>

    <div class="row no-margin">
        <div class="no-padding col-md-12">
            <label class="remember pull-right">
              Don't have an account?
              <a href="" class="btn signup">Sign Up - It's Free.</a>
            </label>
        </div>
    </div>
</div>
</form>
</div>