<div id="edit-profile-view">

    <div class="row no-margin">
        <div class="col-xs-12 no-padding">
           <h4>Edit your profile</h4>
       </div>
    </div>

    <div class="row no-margin">
       <div class="col-xs-12 no-padding">
           <div id="edit-profile-email"></div>
       </div>
    </div>

    <div class="row no-margin">
       <div class="col-xs-12 no-padding">
        <input id="edit-profile-name" type="text" class="form-control valid-before-submit" placeholder="John Smith..." data-validation="required">
       </div>
    </div>

    <div class="row no-margin username-row">
        <div class="col-xs-12 no-padding">
            <input id="edit-profile-username" type="text" class="form-control valid-before-submit" placeholder="username..." data-validation="required">
        </div>
    </div>

    <div class="row no-margin password-row">
        <div class="col-xs-12 no-padding">
            <input id="edit_profile_password" name="edit_profile_password" type="password" class="form-control" placeholder="password...">
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-xs-12 no-padding">
            <input name="edit_profile_password_confirm" id="edit_profile_password_confirm" type="password" class="form-control" placeholder=" confirm password...">
        </div>
    </div>

    <div class="row no-margin button-row">
        <div class="col-xs-12 no-padding">
            <button type='button' class='save-profile btn btn-info form-control'>Save</button>
        </div>
    </div>

</div>
