<div id="register">
    <div class="block block1 register-background">
        <div class="center-block">
          <h1 class="main-h1">Make the jump! Join the Fun</h1>
        </div>
    </div>



    <div class="row no-margin register-box-parent">
        <div class="register-box">
            <div class="input-div"><input required type="email" class="form-control register-email" placeholder="Enter email..." data-validation="required,email"></div>
            <div class="button-div"><button type="button" class="btn btn-success form-control submit-register">Register</button></div>
        </div>
    </div>
</div>