@import "variables";
@import "mixins";

html,
body {
    height: 100%;
    font-weight: 400 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    width:100%;
}

#view-container, #invite-body{
  padding-top: 60px;
  position: absolute;
  top:0px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch;
}

 @media (max-width: 767px){
    .navbar-collapse{
      background-color: @nav-bg-color !important;
    }
}

ul{
  list-style-type: none;
}

label{
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
}

a,
input[type='text'],
input[type='password'],
textarea,
button,
div,section
select,.btn {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;


}

input[type='text'],
input[type='password'],
input[type='int'],
textarea
{
  font-weight: 400 !important;
}
::-webkit-input-placeholder {
   font-weight: 200;
}
a{
  color: @brand-success;
}
a:hover{
  color: @brand-success;
}

a,
a:focus,
a:active,
a.active{
    text-decoration: none !important;
    background-color: transparent;
}

.btn{
  background-color: @nav-bg-color;
  border: solid 1px @nav-bg-color;
  color: @off-white;

}
.btn:hover{
  background-color: @off-white;
  border: solid 1px @nav-bg-color;
  color: @nav-bg-color;
}
.btn-danger{
  background-color: @btn-danger;
  border: solid 1px @btn-danger !important;
}

.btn-warning{
  background-color: @btn-warning;
  border: solid 1px @btn-warning !important;
}

.quiet{
	font-size:8px;
	color:gray;
}

.alert-close{
  float: right;

}

.flyover {
   left: 150%;
   overflow: hidden;
   position: fixed;
   width: 50%;
   opacity: 0.9;
   z-index: 1051;
   transition: left 0.6s ease-out 0s;
}

.flyover-in{
   left: 25% !important;
   top: 5% !important;;
}
.flyover-centered {
   top: 50%;
   transform: translate(-50%, -50%);
}

.flyover-bottom {
   bottom: 10px;
}

.failed-validation{
  border: solid 1px red !important;
}

p {
	font-size: 20px;
}

p.small {
	font-size: 16px;
}

.line{
  height: 1px;
}

.text-center{
  text-align: center;
}

.small-margin{
  margin: 5px;
}

.medium-margin{
  margin: 15px;
}

.micro-margin-top{
  margin-top: 5px;
}

.small-margin-top{
  margin-top: 25px;
}

.medium-margin-top{
  margin-top: 100px;
}

.small-margin-left{
  margin-left: 25px;
}

.fa-10x {
  font-size: 10em;
}

.fa-8x {
  font-size: 8em;
}

.fa-5x {
  font-size: 5em;
}

.fa-3x{
  font-size: 3em;
}

.fa-2x{
  font-size: 2em;
}

.fa-1_2x{
  font-size: 1.2em;
}

.fa-1x{
  font-size: 0.8em;
}

.nav-color-bg{
  background-color: @nav-color;
}

.desktop,
.mobile,
.tablet{
  display: none;
}

@media(min-width:1024px) {
  .desktop{
    display: block;
  }
}

@media(min-width : 768px)
and (max-width : 1023px){
  .tablet{
      display: block;
    }
}

@media(max-width : 768px){
  .mobile{
      display: block;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.modal-backdrop{
    z-index: 0 !important;
}

.no-padding{
  padding-left: 0px;
  padding-right: 0px;
}

.no-margin, .zero-margin{
  margin-left: 0px;
  margin-right: 0px;
}

.no-border{
  border: 0px;
  box-shadow :0 0 0;
  -webkit-box-shadow: 0 0 0;
}

.w25{
  width: 25%;
}
.w50{
  width: 50%;
}



//Cursors
.editable
{
  cursor:cell;
}
