@import "base";
@import "navbar";

body{
  font-weight: 700 !important;
}

.contacts-form{
  margin-left: 15px;
  margin-right: 15px;


}

.update-column{
  a{
    text-decoration: none !important;
    color: #000000;
    background-color: transparent;
    padding: 5px;
  }
}
