@import "base";
@import "navbar";
body{


}

.contacts-form{
  margin-left: 15px;
  margin-right: 15px;
}

.import-csv-container{
  display: none;
}

#contact-list, #contact-new{
  margin-top: 100px;
}

#contacts_table{
  //position: absolute;
  .contact-row{
    a{
      color: #000000;
    }
  }
  .contact-row{

  }
  .contact-row:hover{
    cursor: move;
    background-color: @nav-bg-color;
    color: @off-white;
    a{
      color: @off-white;
    }
  }
}

.groups_table{
  //position: absolute;
  max-height: 400px;
  overflow-y: auto;

  .group-panel-even{
    .panel-heading{
      background-color: @nav-bg-color;
      color: @off-white;
    }
  }

  .group-panel-odd{
    .panel-heading{
      background-color: @off-white;
      color: @nav-bg-color;
    }
  }


  .group{
    margin: 0px;
    padding: 0px;
    //border: 1px solid @nav-bg-color;
  }

  .group-box{
    padding: 20px;
    .group-contact{
      font-size: 70%;
      margin: 3px;
      background-color: @nav-bg-color;
      color: @off-white;
    }
  }

  .group-drag-hover{

    border: solid 1px green;
  }


  .add-group{

  }
  .add-group:hover{

  }
}