@import "variables";
@import "mixins";

html,
body {
    height: 100%;
	overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


#header{
    height:50%;
    background-color:@new-header-color;
    position:absolute;
    top:0%;
    width:100%;
    padding:2%;
    .title{
        position:absolute;
        color:white;
        font-size:300%;
        top:60%;
    }

    .bg-image{
        top:10%;
        left:40%;
        position:absolute;
        height:70%;
        width:40%;
        background-image: url('/img/multidevice.png');
        background-size:100% 100%;
    }
}

#view-container{

}
