@import "base";
@import "navbar";

/*--------------------------------------------------
              New Design
---------------------------------------------------*/
body{
  font-weight: 100 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/*start - All*
.body-background-1 {
  background: url(/img/bg-2.jpg) right top;
  background-size: cover;
  background-attachment: fixed;
}
*/
.body-background-2 {
  background: url(/img/bg-8.jpg) right top;
  background-size: cover;
  background-attachment: fixed;
}

.body-background-4 {
  background: url(/img/bg-6.jpg) right top;
  background-size: cover;
  background-attachment: fixed;
}

.block{
  display: table;
  text-align: center;
  width: 100%;

  .center-block{
    vertical-align: middle;
    display: table-cell;
  }
}

.white-pattern {
  background-image: url(../img/bg-white-pattern.jpg);
}


/*end - All*/

/*start - Block1*/

.block1{
  .home-imgs {
    position: absolute; 
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1; 
    height: 700px; 
    overflow: hidden;
    margin: 0;
    padding: 0;
    li {
      position: fixed; z-index: 0; 
      top: 0; right: 0; bottom: 0; left: 0; 
      background-repeat: no-repeat; 
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      -ms-background-size: cover;
      background-size: cover;
    }
    li.home-imgs-1 {
      background-image: url(/img/bg-10.jpg);
    }
    li.home-imgs-2 {
      background-image: url(/img/bg-11.jpg);
      display: none;
    }
    li.home-imgs-3 {
      background-image: url(/img/bg-5.jpg);
      display: none;
    }
    .active { z-index: 1; 
    }
  }
  .center-block{
    .main-h1{
      background-color: rgba(1,87,155,0.7);
      color:@off-white;
      max-width: 60%;
      margin: 20px auto;
      padding: 20px;
      font-size: 27px;
      font-weight: normal;
      text-transform: none;
      @media(max-width:1024px) {
        font-size: 100%;
      }
      @media(max-width:768px) {
        font-size: 110%;
      }
    }

    .btn-home{
      color: @nav-bg-color;
      font-size: 24px;
      background-color: @off-white;
      padding: 15px 40px;
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 4px solid @nav-bg-color;

      @media(max-width:1024px) {
        padding: 15px 50px;
      }
      @media(max-width:768px) {
        padding: 10px 30px;
      }
    }
    .btn-home:hover{
      color: @off-white;
      background-color: @nav-bg-color;
      border-bottom: 4px solid @off-white;
      .animate(0.6s);
    }
  }
}
/*end - Block1*/

/*start - Block2*/

.block2 {
  padding: 100px 20px;
  display: block;
  
  .center-block {
    display: block;
    max-width: 900px;
    margin: auto;
    text-align: left;
  }
  .offer-title {
    font-size: 28px;
  }

  #bx-pager {
    padding: 20px 0 0 30px;
    a {
      color: @nav-bg-color;
      i:before {
        content: "s";
      }
    }

    .active {
      i:before {
        content: "q" !important;
      }
    }
  }

  .bx-wrapper {
    margin-top:3%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent;

    .home-slider {
      margin: 0;
      padding: 0;
      li {
        .item-offer {

          text-align: left;

          .offer-group {
            float: left;
            height: 100%;

            .offer-inner-group {
              float: left;
              width: 80%;

              .offer-type {
                font-size: 50px;
                color: @nav-bg-color;
              }

              .offer-description {
                font-size: 20px;
              }

              @media (max-width: 768px) {
                width: 100%;
              }
            }
            .offer-icon {
              float: left;
              width: 20%;

              i {
                color: @nav-bg-color;

                font-size: 120px;

                @media (max-width: 1366px) {
                  font-size: 160px;
                }
                @media (max-width: 1024px) {
                  font-size: 120px;
                }
                @media (max-width: 768px) {
                  display: none;
                }
              }

            }
          }
        }
      }

    }
  }
}
/*end - Block2*/

/*start - Block3*/
.block3 {
  .container{

    color: #000;
    font-size: 80px;

    @media(max-width:1024px) {
      padding-top: 20%;
    }
    .main-h2{
      font-size: 120%;
      @media(max-width:1024px) {
        font-size: 100%;
      }
      @media(max-width:768px) {
        font-size: 70%;
      }
    }

    .description-h2{
      @media(max-width:1024px) {
        font-size: 40%;
      }
      @media(max-width:768px) {
        font-size: 30%;
      }
    }
  }
}
/*end - Block3*/

/*start - Block4*/
.block4{
  font-size: 40px;
  padding: 180px 40px;


  .main-h3{
    font-size: 100%;
    color: @nav-bg-color;

    @media(max-width:1024px) {
      font-size: 100%;
    }
    @media(max-width:768px) {
      font-size: 50%;
    }
  }
  .description{
    font-size: 60%;
    font-weight: 100;
    text-transform: none !important;
    @media(max-width:1024px) {
      font-size: 70%;
    }
    @media(max-width:768px) {
      font-size: 50%;
    }
  }

  .images{
    width: 100%;
	max-width: 700px;
    margin-bottom: 5%;
	overflow: hidden;
    text-align: center;
    margin: auto;

    .img{
      float: left;
      width: 25%;
	  padding: 0 20px;
      img{
        border-radius: 50%;
        max-width: 100%;
		-webkit-filter: grayscale(100%); 
		-moz-filter: grayscale(100%); 
		-ms-filter: grayscale(100%); 
		-o-filter: grayscale(100%); 
		filter: grayscale(100%);
		.animate(0.4s)
      }
	  img:hover{
		-webkit-filter: grayscale(0%); 
		-moz-filter: grayscale(0%); 
		-ms-filter: grayscale(0%); 
		-o-filter: grayscale(0%); 
		filter: grayscale(0%);
	  }

    }
    .img1, .img2{
        @media(max-width:768px) {
          width: 50%;
        }
      }
  }

}
/*end - Block4*/

/*start - Block5*/
.block5{
  height: 60%;
}
/*end - Block5*/


/*start - Block6*/
.block6{
  height: 50%;
  font-size: 35px;


  .center-block{

    .footer-h1{
      font-size: 100%;
      color: @nav-bg-color;
    }

    .footer-h2{
      font-size: 55%;
    }
    .footer-btn{
      color: @off-white;
      font-size: 24px;
      background-color: @nav-bg-color;
      padding: 15px 40px;
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 4px solid @nav-bg-color;

      @media(max-width:1024px) {
        padding: 15px 50px;
      }
      @media(max-width:768px) {
        padding: 10px 30px;
      }
    }
    .footer-btn:hover{
      color: @nav-bg-color;
      background-color: @off-white;
      border-bottom: 4px solid @nav-bg-color;
      .animate(0.6s);
    }
  }
}
/*end - Block6*/

/*start - Block7 Footer */
.block7{
  height: 50px;
  background-color: @nav-bg-color;
  font-size: 18px;
  color: @off-white;

  .footer-copyright{
    font-size: 100%;
    @media(max-width:1024px) {
      font-size: 80%;
    }
    @media(max-width:768px) {
      font-size: 80%;
    }
  }

  .footer-city{
    font-size: 80%;
  }
}
/*end - Block7 Footer */
