@import "base";
@import "navbar";

/*Edit */


#invite-body{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 2%;

  .edit-title-input{
      width: 60%;
      margin: 20px auto;
      padding: 20px;
      font-size: 27px;
      font-weight: normal;
      text-transform: none;
  }

  #invite-details {
    //display: block;
    //text-align: center;

    .edit_button_container{
      margin-top: -20px;
      text-align: center;
      padding-bottom: 20px;

      .btn{
        min-width: 100px;
      }
    }


    .edit{
        .mobile-padding{
           @media(max-width:1024px){

          }
          @media(max-width:768px) {
            margin-top: 10px;
          }
        }
        .date, .time, .event-location-input{
          width: 80%;
        }
    }

  }

  #invite-new-attendee{
    .twitter-typeahead {
      width: 100%;

      .tt-input{
          border: 1px solid;
          -webkit-border-radius: 0 !important;
          -moz-border-radius: 0 !important;
            border-radius: 0 !important;
      }
    }



    .tt-dropdown-menu {
      width: 100%;
      padding: 2px 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
      font-weight: 400;
      max-height: 400px;
      overflow-y: auto;

      .tt-suggestion {
        padding: 3px 20px;
        line-height: 24px;

      }
      .tt-cursor {
        color: @off-white;
        background-color: @nav-bg-color;
        cursor: pointer;
      }

      .typeahead-contact-header {
        background-color: @nav-bg-color;
        color: @off-white;
        font-weight: bold !important;
        font-size: 110%;
      }

      .typeahead-group-header {
        background-color: @nav-bg-color;
        color: @off-white;
        font-weight: bold !important;
        font-size: 110%;

      }
    }
  }


  
  
}
