// Variables

@brand-primary: #2C3E50;
@brand-success: #262937;
@gray-lighter: lighten(#000, 93.5%);
//@body-frame: #71B7CC;

@nav-bg-color:#01579B;
@body-frame: #01579B;
@nav-color: @body-frame;
@nav-bg-color: @body-frame;

@text-color:#FFF;
@link-color:#37B087;
@btn-success: #01579B;

@btn-green-success: #18bc9c;

@panel1: #FFF;
@panel2: #FFF;
@panel3: #FFF;
@panel4: #FFF;