config = {

     # This config file will be detected in localhost environment and values defined here will overwrite those in config.py
    'environment': "production",
    'enable_federated_login' : True,
    'log_visit' : False,
    'log_email' : True,

    # ----> ADD MORE CONFIGURATION OPTIONS HERE <----
    'captcha_public_key': "secret",
    'captcha_private_key': "secret",
    'webapp2_extras.sessions':{
        'secret_key': "secret"
    },

    # get your own consumer key and consumer secret by registering at https://dev.twitter.com/apps
    # callback url must be: http://[YOUR DOMAIN]/login/twitter/complete
    'twitter_consumer_key' : 'secret',
    'twitter_consumer_secret' : 'secret',

    #Facebook Login
    # get your own consumer key and consumer secret by registering at https://developers.facebook.com/apps
    #Very Important: set the site_url= your domain in the application settings in the facebook app settings page
    # callback url must be: http://[YOUR DOMAIN]/login/facebook/complete
    'fb_api_key' : 'secret',
    'fb_secret' : 'secret',

    #Linkedin Login
    #Get you own api key and secret from https://www.linkedin.com/secure/developer
    'linkedin_api' : 'secret',
    'linkedin_secret' : 'secret',

    'email_sender':'javi830810@gmail.com',

    'google-client-id': 'secret',
    'google-client-secret' : 'secret',
    'google-client-scope' : 'https://www.googleapis.com/auth/calendar',

    'salt': 'secret',
    'aes_key':'secret',


    'api_url': "http://www.voiceflows.com/api/invite"
}
